{% extends 'base.html' %}

{% block conteudo %}
<h2>{{ titulo }}</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}

    {% for campo in formulario %}
        <div class="mb-3">
            <label class="form-label">{{ campo.label }}</label>
            {{ campo }}
            {{ campo.errors }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{{ url_voltar }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
