{% extends 'base.html' %}

{% block conteudo %}
<h2>Sinais Vitais</h2>

<a href="{% url 'cadastrar_sinal_vital' %}">Cadastrar</a>

<table>
    <tr>
        <th>Pressão</th>
        <th>Glicemia</th>
        <th>Peso</th>
        <th>Ações</th>
    </tr>
    {% for sinal in sinais %}
    <tr>
        <td>{{ sinal.pressao_arterial }}</td>
        <td>{{ sinal.glicemia }}</td>
        <td>{{ sinal.peso }}</td>
        <td>
            <a href="{% url 'editar_sinal_vital' sinal.id %}">Editar</a>
            <a href="{% url 'excluir_sinal_vital' sinal.id %}">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
