{% extends 'base.html' %}

{% block conteudo %}
<h2>Lista de Sintomas</h2>

<a href="{% url 'criar_sintoma' %}" class="btn btn-primary mb-3">
    Novo Sintoma
</a>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for sintoma in sintomas %}
        <tr>
    <td>{{ sintoma.nome }}</td>
    <td>{{ sintoma.intensidade }}</td>
    <td>{{ sintoma.data_hora|date:"d/m/Y H:i" }}</td>
    <td>
        <a href="/sintomas/editar/{{ sintoma.id }}/" class="btn btn-sm btn-warning">Editar</a>
        <a href="/sintomas/excluir/{{ sintoma.id }}/" class="btn btn-sm btn-danger">Excluir</a>
    </td>
</tr>

        {% empty %}
        <tr>
            <td colspan="3" class="text-center text-muted">
                Nenhum registro encontrado
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
